# Local machine defaults
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=smart_city
NEO4J_URI=bolt://localhost:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=12345678
REDIS_HOST=localhost
REDIS_PORT=6379
INFLUX_URL=http://localhost:8086
INFLUX_TOKEN=token
INFLUX_ORG=smart_city
INFLUX_BUCKET=Smart_City_Bucket

# Docker Compose examples
# MONGO_URI=mongodb://mongodb:27017
# NEO4J_URI=bolt://neo4j:7687
# REDIS_HOST=redis
# INFLUX_URL=http://influxdb:8086

